body {
    background-color: #cef0b9;
    font-family:"Prompt", sans-serif;
}
.weather-app{
    background: white;
    max-width: 600px;   
    margin: 30px auto;
    padding: 30px;  
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 20px;
}
footer{
    text-align: center;
}