html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

body {
    background-color: #cef0b9;
    font-family:"Prompt", sans-serif;
}
a{
    color:#64a36f;
}
.weather-app{
    background: white;
    max-width: 600px;   
    margin: 30px auto;
    padding: 30px;  
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 20px;
}
h1 {
    text-align: center;
    color:#31A3F6;

}
header{
    border-bottom: 1px solid #cef0b9;
    padding: 0px 0px 30px 0px;
}
.search-form-input{
    background: #cef0b9;
    border: none;
    border-radius: 50px;
    width:70%;
    padding: 20px;
    font-size: 16px;
}
.search-form-button{
    background:#62C380;
    border:none;
    padding: 20px 22px;
    border-radius: 150px;
}
.weather-app-details {
    display: flex;
    justify-content: space-around;
}
.weather-app-temp-details {
    display: flex;
    margin-top: 10px;
}
.weather-app-temperature {
    font-size: 80px;
}

.weather-app-unit{
    margin-top: 20px;
    font-size: 20px;
}
.weather-app-icon {
   width: 80px;
   height: 80px;
   margin-top: 7px;
  
}

.weather-app-details p {
    margin-top: 0;
    margin-bottom: 16px;
    color: rgba(39, 33, 66, 0.4);
}
.weather-app-details h2 {
    margin-bottom: 0;
    margin-left: 60px;
}
.date-time {
    margin-left: 20px;
}
.weather-forecast{
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  color: black;
}  
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
 
}
.weather-forecast-temperature-min {
  opacity:  0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
li {
  list-style: none;
}
li strong {
    font-weight: 100px;
    color:#64a36f ;
}
footer {
    border-top: 1px solid #cef0b9;
    padding:30px 0px 0px 0px;
    text-align: center;
    color: rgba(0,0,0,0.6);
}
